@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .font-asmaa {
        font-family: "AsmaaFont", sans-serif;
    }
}

@font-face {
    font-family: "AsmaaFont";
    src: url("/fonts/Asmaa_Font.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1e1e1d;
}


.wave-bg {
    background: linear-gradient(to right, #2080a4, #4badd0);
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    /* مساحة داخلية للمحتوى */
    color: white;
    text-align: center;
    clip-path: path("M302.82,67.37C218.59,85.53,163.66,47.54,105.35,37.6,63.78,30.52,42,41.88,0,55.4V506.83c5.75-17.11,25.29-53.68,88.87-67.37C173.1,421.3,228,459.29,286.34,469.23c41.57,7.08,63.4-4.28,105.35-17.81V0C385.94,17.11,366.4,53.68,302.82,67.37Z");
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}


.wrapper {
    position: relative;
    width: 100vw;
    padding-top: 1px;
    padding-bottom: calc(20vh - 24px);
}

.section {
    position: relative;
    width: 100vw;
    /* width: calc(100vw - 48px); */
    margin: 0 auto;
    height: 80vh;
    background-color: #1e1e1d;
}

#section1 {
    z-index: 0;
}

#section2 {
    z-index: 1;
}

#section3 {
    z-index: 2;
}

#section4 {
    z-index: 3;
}

#section5 {
    z-index: 4;
}

#section6 {
    z-index: 5;
}
#section7 {
    z-index: 6;
}
#section8 {
    z-index: 7;
}
#section9 {
    z-index: 8;
}

.fixed {
    position: fixed;
}

.animate-up-down {
    animation: moveUpDown 3s ease-in-out infinite;
}

#printSection {
    position: relative;
    overflow: hidden;
}

#printSection::before {
    content: "";
    background-image: url("/images/print-items/home_page_left_c.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.7;
    display: block;
    animation: moveUpDown 6s ease-in-out infinite;
}

#printSection::after {
    content: "";
    background-image: url("/images/print-items/home_page_right-c.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    position: absolute;
    width: 150px;
    right: -50px;
    top: -70px;
    background-position: bottom right;
    bottom: 0;
    opacity: 0.7;
    animation: moveUpDown 4s ease-in-out infinite;
}