@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .font-asmaa {
        font-family: "AsmaaFont", sans-serif;
    }
}

@font-face {
    font-family: "AsmaaFont";
    src: url("/fonts/Asmaa_Font.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 640px) {

    /* Küçük ekranlar için ayarlar */
    .absolute.z-0.left-2.right-0 {
        transform: scale(8);
        left: 281px;
        /* Resmi biraz büyütmek için */
    }

}